<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>BMI Calculator</title>
  </head>

  <body>
    <header>
      <h2>🤍A-Care</h2>
      <p>BMI Calculator</p>
    </header>

    <!-- logo application -->
    <div>
      <div class="BMI">
        <br /><br />
        <img
          src="https://static.vecteezy.com/system/resources/previews/015/498/295/non_2x/body-scale-creative-icon-design-free-vector.jpg"
          width="200"
          height="200"
        />
        <br /><br />
      </div>
    </div>

    <!-- part calculate BMI  -->
    <div class="bmi_container">
      <div class="box">
        <h1>BMI Calculator</h1>
        <div class="content">
          <div class="texttitle">
            <p>Enter Your Age</p>
            <br />
          </div>
        </div>

        <div class="input">
          <input
            type="number"
            class="text-input"
            id="age"
            autocomplete="off"
            required
            min="1" max="120"
          />
        </div>
        <div class="gendertitle">
          <p>Select Gender</p>
          <br />
        </div>
        <br />

        <div class="gender">
          <label class="container">
            <input type="radio" name="radio" id="m" />
            <p class="text">Male</p>
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="radio" name="radio" id="f" />
            <p class="text">Female</p>
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="containerHW">
          <div class="inputH">
            <label for="height">Height(cm)</label>
            <input type="number" id="height" required />
          </div>

          <div class="inputW">
            <label for="weight">Weight(kg)</label>
            <input type="number" id="weight" required />
          </div>
        </div>

        <button class="calculate" id="submit" onclick="calculate();">
          Calculate BMI
        </button>
        <div class="result">
          <p>Your BMI is</p>
          <div id="result">00.00</div>
          <p class="comment"></p>
        </div>
      </div>

      <br />
    </div>

    <!-- bmi meaning and description -->
    <div class="bmi_info_container">
      <h1>BMI information</h1>
      <p>BMI ย่อมาจาก <b>Body Mass Index </b></p>
      <br />
      <p><b>สูตรการคำนวณ</b> = น้ำหนักตัว[Kg] / (ส่วนสูง[m] ยกกำลังสอง)</p>
      <br />
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;ดัชนีมวลกาย หรือ Body Mass Index
        เป็นค่าสากลที่ใช้เพื่อคำนวณหาน้ำหนักตัวที่ควรจะเป็น
        และประมาณระดับไขมันในร่างกายโดยใช้น้ำหนักตัวและส่วนสูง
        การคำนวณดัชนีมวลกายไม่ใช่การวัดโดยตรงแต่ก็เป็นตัวชี้วัดไขมันในร่างกายที่ค่อนข้างเชื่อถือได้สำหรับคนส่วนใหญ่
        ค่า BMI สามารถใช้บ่งบอกความเสี่ยงในการเกิดโรคต่างๆได้อีกด้วย เช่น
        โรคเบาหวาน ความดันโลหิตสูง ไขมันในเลือด ระบบหัวใจ รวมไปถึงมะเร็งบางชนิด
        แต่อย่างไรก็ตามค่า BMI เป็นแค่การคำนวณเบื้องต้นเท่านั้น
        เนื่องจากจำเป็นต้องนำปัจจัยอื่นๆมาประกอบด้วย ทั้งเรื่องของพันธุกรรม
        ปริมาณกล้ามเนื้อ พฤติกรรมการกิน การใช้ชีวิต และ การออกกำลังกาย เป็นต้น
      </p>
    </div>

    <!-- table to compare BMI classification -->
    <div class="bmi_category_container">
      <table>
        <tr>
          <th>ค่าอยู่ในเกณฑ์</th>
          <th>ค่า BMI</th>
          <th>ภาวะเสี่ยงต่อโรค</th>
        </tr>
        <tr>
          <td>ผอมเกินไป</td>
          <td>น้อยกว่า 18.5</td>
          <td>เสี่ยงต่อการได้รับสารอาหารไม่เพียงพอ</td>
        </tr>
        <tr>
          <td>น้ำหนักปกติ</td>
          <td>18.6-22.9</td>
          <td>มีความเสี่ยงต่อโรคน้อยมาก</td>
        </tr>
        <tr>
          <td>น้ำหนักเกิน</td>
          <td>23.0-24.9</td>
          <td>มีความเสี่ยงต่อโรคมากกว่าปกติ</td>
        </tr>
        <tr>
          <td>ภาวะอ้วน</td>
          <td>25.0 - 29.9</td>
          <td>มีความเสี่ยงต่อการเกิดโรคสูง</td>
        </tr>
        <tr>
          <td>ภาวะอ้วนมาก</td>
          <td>30 ขึ้นไป</td>
          <td>เสี่ยงต่อการเกิดโรคสูงมาก</td>
        </tr>
        <br />
      </table>
      <br /><br />
    </div>

    <!-- more detail for each BMI classification -->
    <div class="bmi_description_container">
      <br />
      <ul>
        <li>
          <b>ผอมเกินไป (Underweight)</b><br /><br />
          <p>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;น้อยกว่า 18.5
            น้ำหนักน้อยกว่าปกติก็ไม่ค่อยดี หากคุณสูงมากแต่น้ำหนักน้อยเกินไป
            อาจเสี่ยงต่อการได้รับสารอาหารไม่เพียงพอหรือได้รับพลังงานไม่เพียงพอ
            ส่งผลให้ร่างกายอ่อนเพลียง่าย
            การรับประทานอาหารให้เพียงพอและออกกำลังกายแบบ "เวทเทรนนิ่ง"
            เพื่อเสริมสร้างกล้ามเนื้อสามารถช่วยเพิ่มค่า BMI
            ให้อยู่ในเกณฑ์ปกติได้
          </p>
        </li>
        <br />
        <li>
          <b>น้ำหนักปกติเหมาะสม (Healthy)</b><br /><br />
          <p>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;18.50 - 22.90
            น้ำหนักที่เหมาะสมสำหรับคนไทยคือค่า BMI ระหว่าง 18.5-22.9
            จัดอยู่ในเกณฑ์ปกติ
            ห่างไกลโรคที่เกิดจากความอ้วนและมีความเสี่ยงต่อการเกิดโรคต่างๆน้อยที่สุด
            ควรพยายามรักษาระดับค่า BMI ให้อยู่ในระดับนี้ให้นานที่สุด
          </p>
        </li>
        <br />
        <li>
          <b>น้ำหนักเกิน (Overweight)</b><br /><br />
          <p>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;23 - 24.90
            พยายามอีกนิดเพื่อลดน้ำหนักให้เข้าสู่ค่ามาตรฐาน เพราะค่า BMI
            ในช่วงนี้ยังถือว่าเป็นกลุ่มผู้ที่มีความอ้วนอยู่บ้าง
            แม้จะไม่ถือว่าอ้วน
            แต่หากประวัติคนในครอบครัวเคยเป็นโรคเบาหวานและความดันโลหิตสูง
            ก็ถือว่ายังมีความเสี่ยงมากกว่าคนปกติ
          </p>
        </li>
        <br />
        <li>
          <b>ภาวะอ้วน (Obese)</b><br /><br />
          <p>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;25 - 29.90
            คุณอ้วนในระดับหนึ่ง ถึงแม้จะไม่ถึงเกณฑ์ที่ถือว่าอ้วนมากๆ
            แต่ก็ยังมีความเสี่ยงต่อการ เกิดโรคที่มากับความอ้วนได้เช่นกัน
            ทั้งโรคเบาหวานและความดันโลหิตสูง
          </p>
        </li>
        <br />
        <li>
          <b>อ้วนมาก (Extremely&nbsp;Obese)</b><br /><br />
          <p>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;30.0
            ขึ้นไปค่อนข้างอันตราย เพราะเข้าเกณฑ์อ้วนมาก
            เสี่ยงต่อการเกิดโรคร้ายแรงที่แฝงมากับความอ้วน หากค่า BMI
            อยู่ในระดับนี้จะต้องระวังการรับประทานไขมัน
            และควรออกกำลังกายอย่างสม่ำเสมอ หากเลขยิ่งสูงกว่า 40.0
            ยิ่งแสดงถึงความอ้วนที่มากขึ้น ความเสี่ยงจะมากขึ้นตามด้วย
          </p>
        </li>
      </ul>
      <br /><br />
    </div>

    <!-- picture container -->
    <div>
      <div class="BMI">
        <br /><br />
        <img
          src="https://i.pinimg.com/564x/f0/75/1e/f0751ecbae88e0f67b119e99d4972301.jpg"
          width="170"
          height="170"
        />&nbsp;
        <img
          src="https://i.pinimg.com/736x/3d/b0/43/3db043fd659a42ea1ff1a5f470eb27c4.jpg"
          width="170"
          height="170"
        />
        <br /><br />
      </div>
    </div>

    <!-- risk: over bmi standard information -->
    <div class="bmi_disease_container">
      <h1>น้ำหนักเกินมาตรฐานเสี่ยงต่อโรคอะไรบ้าง</h1>
      <p>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        &nbsp;การที่เรามีน้ำหนักเกินมาตรฐานหรือเป็นโรคอ้วนย่อมส่งผลเสียตามมา
        นอกจากในเรื่องการใช้ชีวิต เช่น เหนื่อยง่าย เคลื่อนไหวร่างกายไม่ค่อยสะดวก
        ยังทำให้เกิดโรคภัยไข้เจ็บต่างๆ ซึ่งแต่ละโรคนั้น
        หากเป็นแล้วก็ต้องได้รับการรักษาในระยะยาว
      </p>
      <br />
      <p style="color: #f4ede5"><b>⚪ โรคเบาหวาน</b></p>
      <p><br /></p>
      <p>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        &nbsp;เป็นโรคที่มาควบคู่กันกับโรคอ้วน
        โรคเบาหวานหมายถึงภาวะที่ร่างกายของเรามีปริมาณน้ำตาลในเลือดสูงกว่าระดับปกติ
        ซึ่งเกิดจากการที่ตับอ่อนหลั่งอินซูลิน
        ซึ่งคือฮอร์โมนที่ช่วยเผาผลาญคาร์โบไฮเดรตและไขมัน
        โดยเปลี่ยนน้ำตาลเป็นพลังงานในร่างกาย ได้อย่างไม่มีประสิทธิภาพ
        น้ำตาลจึงสะสมอยู่ในร่างกายมาก ไขมันในเลือดจึงสูงตามไปด้วย
      </p>
      <br />
      <p style="color: #f4ede5"><b>⚪ โรคหัวใจ</b></p>
      <p><br /></p>
      <p>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        &nbsp;โรคอ้วนทำให้ร่างกายมีคอเลสเตอรอลและไขมันสะสมในร่างกายมากเกินไปจนไขมันเหล่านั้นไปพอกอยู่ในเส้นเลือด
        ทำให้หลอดเลือดตีบแคบลง หากนานวันเข้าก็จะเกิดการอุดตันในที่สุด
        เลือดจึงไหลเวียนไปเลี้ยงหัวใจไม่เพียงพอ
        สุดท้ายก็นำไปสู่ภาวะกล้ามเนื้อหัวใจตาย
      </p>
      <br />
      <p style="color: #f4ede5"><b>⚪ โรคหลอดเลือดสมอง</b></p>
      <p><br /></p>
      <p>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;เช่นเดียวกับโรคหัวใจ
        ไขมันที่มีมากเกินไปในร่างกายยังอาจไปพอกอยู่ในหลอดเลือดที่หล่อเลี้ยงสมอง
        ทำให้หลอดเลือดบริเวณนั้นตีบตันหรืออุดตัน
        ผลคือเลือดไม่สามารถส่งไปเลี้ยงสมองได้อย่างเพียงพอ
        นำมาสู่ภาวะสมองขาดออกซิเจน สุดท้ายก็เข้าสู่ภาวะสมองตาย
      </p>
      <br />
      <p style="color: #f4ede5"><b>⚪ โรคมะเร็ง</b></p>
      <p><br /></p>
      <p>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        &nbsp;บางคนอาจจะยังไม่รู้ว่าโรคอ้วนก็เสี่ยงทำให้เกิดมะเร็งเช่นเดียวกัน
        ไขมันในร่างกายที่สะสมมากเกินไป ทำให้อวัยวะภายในร่างกายทำงานผิดปกติ
        จึงเสี่ยงก่อให้เกิดเซลล์มะเร็งหรือเนื้อร้าย เช่น มะเร็งตับ มะเร็งสมอง
        มะเร็งเต้านม เป็นต้น
      </p>
      <br />
      <p style="color: #f4ede5"><b>⚪ โรคความดันโลหิตสูง</b></p>
      <p><br /></p>
      <p>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        &nbsp;การมีน้ำหนักเกินมาตรฐานยังส่งผลให้ร่างกายมีความดันโลหิตสูง
        หมายถึงภาวะแรงกดดันในหลอดเลือดแดงที่มีค่าสูงเกินปกติ หลัก ๆ
        อาจมาจากมีไขมันพอกในหลอดเลือดมากเกินไป
        เมื่อหลอดเลือดทำงานผิดปกติก็ส่งผลให้หัวใจทำงานผิดปกติไปด้วย
        นำมาสู่โรคหัวใจในที่สุด
      </p>
      <br /><br />
    </div>
    <!-- picture container -->
    <div>
      <div class="BMI">
        <br /><br />
        <img
          src="https://i.pinimg.com/originals/6b/8f/98/6b8f989b2453217dd8c7aa582cfc0413.jpg"
          width="250"
          height="250"
        />
        <br /><br />
      </div>
    </div>
    <!-- solution for control bmi to normal  -->
    <div class="bmi_solution_container">
      <h1>วิธีควบคุมให้น้ำหนักอยู่ในเกณฑ์ที่เหมาะสม</h1>
      <p style="color: #f2efe8"><b>🥦 การควบคุมอาหาร</b></p>
      <br />
      <p>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;ไม่ใช่การอดอาหาร
        หัวใจสำคัญของการมีน้ำหนักอยู่ในเกณฑ์มาตรฐานคือการกินอาหารที่มีประโยชน์ครบ
        5 หมู่ ในปริมาณที่เหมาะสมตามตารางโภชนาการ เช่น
        ผู้หญิงวัยทำงานควรรับประทานอาหารให้ได้วันละ 1,200-1,600 กิโลแคลอรี
        ส่วนผู้ชายวัยทำงานควรได้รับพลังงานจากอาหารวันละ 1,800-2,000 กิโลแคลอรี
        ทั้งนี้ก็ต้องขึ้นอยู่กับการดำเนินชีวิตประจำวันด้วย
      </p>
      <br />
      <p>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        หากเป็นผู้ที่ต้องใช้แรงมาก เช่น
        นักกีฬาก็สามารถรับประทานอาหารในปริมาณที่เกินกว่านี้ได้
        หรือสำหรับผู้ที่มีภาวะอ้วนมาก ๆ อาจจะต้องค่อย ๆ
        ลดปริมาณแคลอรีลงดีกว่าการหักดิบ ทางการแพทย์ชี้ว่าการค่อย ๆ
        ลดพลังงานลงวันละ 500 กิโลแคลอรี จะช่วยให้ลดน้ำหนักได้เฉลี่ย 1-2
        กิโลกรัมต่อเดือน
      </p>
      <br />
      <p style="color: #f2efe8"><b>💪🏻 การออกกำลังกาย</b></p>
      <br />
      <p>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        &nbsp;เมื่อควบคุมอาหารได้แล้ว
        ก็ต้องทำควบคู่กับการออกกำลังกายเพราะจะช่วยให้เราเผาผลาญพลังงานที่เกินออกไปได้
        หรือในกรณีที่เราควบคุมอาหารจนน้ำหนักลดลง มวลกล้ามเนื้อจะลดลงไปด้วย
        การออกกำลังกายจะช่วยเพิ่มมวลกล้ามเนื้อให้เพิ่มขึ้น
        ผลคือน้ำหนักของเราก็จะคงที่ และยังได้สุขภาพที่ดีในระยะยาว
      </p>
      <br />
      <p>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        การออกกำลังกายที่ดีควรอยู่ที่ 3 ครั้งต่อสัปดาห์ ตกครั้งละ 20-60 นาที
        แต่หากเป็นผู้ที่น้ำหนักเกินเกณฑ์ไปมาก
        อาจจะต้องเริ่มจากการออกกำลังกายเบาๆ เช่น เดิน หรือขยับร่างกายเป็นส่วนๆไป
      </p>
      <br />
      <br /><br />
    </div>
    <br>
    <div id="postData" style="background-color: #fff;"></div>
    <footer>
      <p>A - Care BMI calculator</p>
      <p>SF340 Project</p>
    </footer>
    <script src="js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </body>
</html>
